1) SELECT titre FROM livre;

2) SELECT nom FROM usager;

3) SELECT DISTINCT nom FROM usager;

4) SELECT titre FROM livre WHERE annee<1980;

5) SELECT titre FROM livre WHERE titre LIKE 'A%';

6) SELECT isbn FROM emprunt WHERE retour='2020-01-01';

7) SELECT nom from auteur ORDER BY nom;

8) SELECT nom,cp FROM usager WHERE cp=75012 OR cp=75013;

9) SELECT nom, adresse FROM usager WHERE adresse != '%Rue%'; ❌

10) SELECT annee, titre FROM livre WHERE annee%4=0 AND annee%100!=0 OR annee%400=0; ❌

1) SELECT livre.titre, emprunt.retour FROM emprunt JOIN livre ON emprunt.isbn=livre.isbn;

2) SELECT livre.titre FROM emprunt JOIN livre ON emprunt.isbn=livre.isbn WHERE emprunt.retour<'2020-03-31';

3) SELECT auteur.nom, auteur.prenom FROM auteur JOIN auteur_de, livre WHERE livre.isbn=auteur_de.isbn AND auteur_de.a_id=auteur.a_id AND livre.titre='1984'; ❌

4) SELECT DISTINCT nom, prenom FROM usager; ❌

5) SELECT DISTINCT nom, prenom FROM usager ORDER BY nom; ❌

---

Revoir les jointures !