# TP SQL                                                   RONSAIN Noha TG5

## Requêtes simples, sans jointure

Soit la hase de données de Livres disponible sur bdarid.noho.st et déjà étudiée.
Donner le code SQL de chacune des requêtes ci-dessous. Les mots en police fixe donnent une indication sur les attributs et les tables à utiliser dans la requête.

1.Tous les titres de livre.

SELECT * FROM livre WHERE titre;

❌ non, on demande les titres

2.Tous les noms d'usager.

SELECT nom FROM usager; ✅

3.Tous les noms d'usager en retirant les doublons.

SELECT DISTINCT nom FROM usager; ✅

4.Les titres des livres publiés avant 1980.

SELECT titre FROM livre WHERE annee<1980; ✅

5.Les titres des livres dont le titre commence par la lettre « A ».

SELECT titre FROM livre WHERE titre LIKE 'A%'; ✅

6.Les isbn des livres à rendre pour le 01/01/2020.

SELECT isbn FROM livre where retour='2020-01-01'; ✅

7.Les noms d'auteurs triés par ordre alphabétique.

SELECT nom FROM auteur ORDER BY nom; ✅

8.Les noms d'usagers vivant dans le 12e ou 13e arrondissement de Paris (codes postaux 75012 et 75013).

SELECT nom FROM usager WHERE cp=75012 and cp=75013; ❌

9.Les noms et adresses des usagers n'habitant pas dans une rue. (la chaîne « Rue » ne doit pas apparaître dans l'adresse).

SELECT nom and adresse FROM usager WHERE adresse NOT LIKE '%Rue%'; ❌

10.Les annees et titres des livres publiés lors d'une année bissextile. On rappelle que ce sont les années divisibles par 4, mais pas celles divisibles par 100 sauf si elles sont divisibles par 400.

❌

## Requêtes avancées avec jointure

Soit la base de données Livres utilisée en cours et disponible en suivant le lien ci-dessus. Donner le code SQL de chacune des requêtes ci-dessous. Les mots en police fixe donnent une indication sur les attributs et les tables à utiliser dans la requête.

1.Le titre des livres empruntés.

SELECT titre FROM livre JOIN emprunt ON livre.isbn=emprunt.isbn; ✅

2.Le titre des livres empruntés à rendre avant le 31/03/2020.

SELECT titre FROM livre JOIN emprunt on retour<'2020-03-31'; ❌

3.Le nom et prenom de l'auteur du livre '1984' .

SELECT nom and prenom FROM auteur JOIN ❌

4.Le nom et le prenom des usagers ayant emprunté des livres, sans doublons (c'est-à-dire si un usager a emprunté plusieurs livres, il ne doit apparaître qu'une fois dans le résultat).

SELECT DISTINCT nom AND prenom FROM usager JOIN emprunt ON usager.code_barre=emprunt.code_barre; ❌ mauvais placement du `AND`

5.Même requête que précédemment, avec les noms triés par ordre alphabétique.

SELECT DISTINCT nom AND prenom FROM usager JOIN emprunt ON usager.code_barre=emprunt.code_barre ORDER BY nom; ❌ même remarque

---

Beaucoup d'erreurs! Consulter attentivement le corrigé !