1) SELECT titre from livre;

2)SELECT nom FROM usager;

3)SELECT DISTINCT nom FROM usager;

4)SELECT titre FROM livre WHERE annee < 1980;

5) SELECT titre FROM livre WHERE titre like 'A%';

6)SELECT isbn from emprunt WHERE retour > '2020-01-01'; ❌

7)select nom from auteur ORDER BY nom;

8)SELECT nom FROM usager WHERE cp = '75012' OR cp = '75013';

9) SELECT nom,adresse FROM usager WHERE adresse Not like '%Rue%';

10) ❌

Exercice 2

1)SELECT livre.titre FROM emprunt JOIN livre on emprunt.isbn = livre.isbn;

2)SELECT livre.titre FROM emprunt JOIN livre on emprunt.isbn = livre.isbn WHERE annee < '2020-03-31';

3)SELECT nom,prenom from auteur JOIN auteur_de on auteur.a_id = auteur_de.a_id JOIN livre ON auteur_de.isbn = livre.isbn WHERE titre LIKE '%1984%'; ❌

4)SELECT DISTINCT nom,prenom FROM usager JOIN emprunt ON usager.code_barre = emprunt.code_barre;

5)SELECT DISTINCT nom,prenom FROM usager JOIN emprunt ON usager.code_barre = emprunt.code_barre ORDER by nom;